<pagination num-pages="numPages" current-page="currentPage" on-select-page="switchPage(page)"></pagination>

<div>{{pageContent}}</div>


<br/>

<pagination2 ng-hide="loading" collection="items" page-size="pageSize" page-size-options="pageSizeOptions" current-page="current"></pagination2>

<table ng-hide="loading" class="table table-striped table-hover">
    <tr>
        <th>Item</th>
    </tr>
    <tr ng-repeat="item in items | pagination:current:pageSize">
        <td>{{item}}</td>
    </tr>
</table>