<script type="text/ng-template" id="password-form">
    <ng-form name="passwordForm">
        <label>Password</label>
        <input class="form-control" ng-model="user.password" type="password" required>
        <label>Confirm Password</label>
        <input class="form-control" ng-model="user.password2" type="password" required>
        <div ng-show="user.password != user.password2">
            Passwords do not match
        </div>
    </ng-form>
</script>
<form name="form1" novalidate class="form-group">
    <legend>User Form</legend>
    <label>Name</label>
    <input class="form-control" ng-model="user.name" required>
    <ng-include src="'password-form'"></ng-include>
</form>